<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Error</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="error-container">
    <h1>Error</h1>
    <p>Sorry, something went wrong while processing your request.</p>
    <p><%= message %></p>
  </div>
</body>
</html>